* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(69,84,108, 1), rgba(255,251,203, 1) 100%);
}

/* Header */
.head-wrap {
    position: fixed;
    width: 100%;
    padding: 10px;
}
.head-main-wrap {
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.logo {
    width: 100px;
    height: 100px;
}
.logo a img {
    width: 100%;
    border-radius: 5px;
}

.nav-link {
    background-color: #45546C;
    border: 2px solid #45546C;
    transition: .2s ease;
}
.nav-link:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.nav-link:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.nav-link a {
    color: #FFFBCB;
    text-decoration: none !important;
}
.nav-link:hover {
    
    background-color: transparent;
    border: 2px solid #FFFBCB;
}
.nav-link:hover a {
    color: #45546C;
}
.banner {
    padding-top: 1.8rem;
}
.banner img {
    width: 100%;
}

@media (max-width:380px) {
    .banner {
        padding-top: 7.8rem;
    }
    .nav {
        display: block !important;
    }
}